.App {
	text-align: center;
}

button {
	border-radius: 5px;
	background-color: aquamarine;
	margin: 5px;
}

button:hover {
	cursor: pointer;
}

select:hover {
	cursor: pointer;
}

.algoName {
	margin: 2px;
	margin-bottom: -10px;
}

.checkBox {
	border-style: solid;
	border-color: black;
	border-width: 6px;
}